.products
    &__header
        padding-top: 11rem 
        font-size: 2.6rem
        font-weight: 600
    &-grid 
        padding-top: 4rem
@media (max-width: 800px)
    .products
        &__header
            padding-top: 5rem 