footer 
    display: flex
    justify-content: center
    text-align: center
    background-color: #000
    flex-direction: column
    height: 12rem
.footer__links
    display: flex
    justify-content: center
    text-align: center
    flex-wrap: wrap
    gap: 3rem 
    a
        color: #fff
        font-size: 1.8rem
        text-decoration: none
        &:hover
            text-decoration: underline